**.whl
**.tar.gz
**.egg-info
**/__pycache__/
**/dist/
**/build/
**/VERSION


upstream/
cache/
output/
input/
keys/


docs/ignored
tests/labs/ignored

typst

*.xz
*.so

frida/frida-server-17.3.2-android-x86_64
